.discName, .discDesc, .discCat, .discIm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"], textarea, .css-1s2u09g-control, input.btn.btn-success {
  width: calc(100vw*0.4);
  padding: 5px;
  margin: 10px;
  border-radius:5px;
  border: solid 1px black
}

.input-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}