.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  .hero-container{
    background-color: $overlay;
    padding: 30px;
    border-radius: 8px;
  }
}
img.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  }