$navbar: #6c8844;
$bg: #9fbb77;
$overlay: #87aa55;
$button: #516633;
$bgdark: #364422;
$bglight: #cfddbb;
$black: rgba(3, 4, 1);
$headercolor: #6c8844;
$paracolor: #87A956;

$box-shadow: 0px 2px 10px rgba(3,4,1,0.4);